<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home - Upload and Sync</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>

  

    {% extends "dashboard.html" %}

    {% block content %}
      <header class="header">
        <h1>Syncsavy Setup</h1>
        <p>You are provided with the functionality of setting up the environemnt of Syncsavy in colab notebook. This setup will download all requirements needed for lip syncing.</p>
      </header>
      <!-- Button to download SyncVerse setup file, centered on the page -->
      <form action="{{ url_for('home') }}" method="POST" id="download-form">
        <!-- Hidden input to identify the form -->
        <input type="hidden" name="form_id" value="download_form">
        <div class="top-button-container">
          <button type="submit" class="upload-setup-btn">Click to Download SyncVerse SetUp</button>
        </div>
      </form>

    {% if message %}
      <div>{{ message }}</div>
    {% endif %}

    
</body>
</html>
